@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --my-controller-color: #ab0101;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  --AppBar-background: #00ff00;
}

.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
  --AppBar-background: #ff0000;
}
